.filter{
       
    width: 100px;
    padding: 6px ;
    margin: 14px 0px;
    font-size: 18px;
    /* border: none; */
    border-radius: 10px;
    background: white;
}
.filterByYear{
    display: flex;
    flex-direction: row-reverse;
}
.filterHeading{
    padding: 19px 10px;
    font-size: 22px;
}
select{
    border: 1px solid black;
}